$bg-gray: #f3f4f6;
$bg-theme-color:#2b4eff;
$bg-blue-gradient: linear-gradient(135deg, #2575fc 26%, #0acffe 100%);
$bg-blue-gradient-rotate: linear-gradient(170deg, #3d53eb 12%, #0acffe 80%);
$bg-light-gray: #f9f9f9;
$blue: #2b4eff;