@import "var";
@import "mixin";
.container {
    max-width: 1140px;
}

@media (min-width:1400px) {
    .container {
        max-width: 1200px;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "Heebo", sans-serif;
}

p {
    margin-bottom: 0.75rem;
}

.bg-theme-color {
    background: $bg-theme-color;
}

.bg-gray {
    background-color: $bg-gray;
}

.top-header {
    z-index: 9;
}

.nav-link {
    color: #fff;
}

.profile-dropdown {
    padding-bottom: 7px;
}

.profile-dropdown:after {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -6px;
    right: 9px;
    transform: rotate(45deg);
    border-top: 1px solid #e9edf4;
    border-left: 1px solid #e9edf4;
}

.profile-dropdown .profile-link,
.account-dropdown a {
    border-top: 1px solid #0000001c;
    &:hover {
        background: transparent !important;
        color: #0b2bc9 !important;
    }
}

.account-dropdown a:first-child {
    border-top: 0;
}

.profile-dropdown a i,
.account-dropdown a i {
    width: 22px;
}

.user-login .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
}

.user-login .profession {
    font-size: 12px;
}

.top-header .nav-link:hover {
    color: #0b2bc9;
    transition: all 0.4s ease-in-out;
}

.affix-header {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(27 56 255 / 10%);
}

.affix-header .nav-link {
    color: #222;
}

.auth-banner {
    background-image: url("https://image.freepik.com/free-photo/young-happy-woman-golden-field-sunset_158595-5693.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.auth-banner::before {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.login-signup-box {
    max-width: 440px;
    margin: auto;
}

.login-social .icon {
    border: 2px solid #ccc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.4s ease-in-out;
}

.login-social .icon.google {
    border-color: #db4437;
    color: #db4437;
    &:hover {
        background-color: #db4437;
        color: #fff;
    }
}

.login-social .icon.fb {
    border-color: #3c5a9a;
    color: #3c5a9a;
    &:hover {
        background-color: #3c5a9a;
        color: #fff;
    }
}

.login-social .icon.linkedin {
    border-color: #0077b5;
    color: #0077b5;
    &:hover {
        background-color: #0077b5;
        color: #fff;
    }
}

.forgot-password-link:hover {
    color: $blue;
    transition: 0.4s ease-in-out;
}

.login-box {
    background-color: #2464f9;
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 3px 17px -2px #666;
}

.rounded {
    border-radius: 0.25rem !important;
}

.input-group i {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px !important;
    height: 100% !important;
    z-index: 9;
    color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.form-icon {
    width: 21px;
}

span.form-icon i {
    color: rgb(0 0 0 / 25%);
    cursor: pointer;
}

.login-box,
.login-box .right {
    border-radius: 15px;
}

.login-box .right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.signin-btn {
    border: 1px solid #fff;
    max-width: 160px;
    &:hover {
        background-color: #fff;
        color: #2464f9;
        transition: all 0.4s ease-in-out;
    }
}

.home-topsec {
    background-image: url("https://image.freepik.com/free-photo/beautiful-day-campus_329181-3042.jpg");
    // background-image: url('https://image.freepik.com/free-photo/brainstorm-meeting_1098-15871.jpg');
    min-height: 100vh;
    background-size: cover;
}

.home-topsec::before {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sec-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title:before {
    content: "";
    background: #000000;
    height: 4px;
    width: 70px;
    position: absolute;
    bottom: -1px;
}

.featured-image img {
    height: 300px;
}

.bg-light-gray {
    background-color: #f9f9f9;
}

// FAQ section css start
#faqAccordion {
    box-shadow: 0px 0px 10px 0px #d8d9ff;
    border-radius: 1rem;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.accordion-item:last-of-type .accordion-button {
    // border-bottom-left-radius: 1rem;
    // border-bottom-right-radius: 1rem;
}

.accordion-item {
    border-bottom: 1px solid #f1f1f1 !important;
    border-radius: 0 !important;
}

.accordion-item .accordion-button {
    font-size: 1.1rem;
}

#faqAccordion .accordion-button::after {
    background-size: 1rem;
}

.accordion-header button {
    font-weight: 500;
}

.accordion-item:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    background-image: none;
}

.accordion-button:not(.collapsed) {
    background: $blue;
    color: #fff;
    &::after {
        color: #fff;
    }
}

#faqAccordion .accordion-button:not(.collapsed)::after {
    content: "\f068";
    background-image: none;
}

.course-item {
    border-radius: 0.25rem;
    box-shadow: 0 30px 40px 0 rgb(1 11 60 / 6%);
}

.course-item .course_image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.course-item:hover .course_image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.course_tag {
    // position: absolute;
    z-index: 8;
    left: 20px;
    top: 20px;
    display: inline-block;
    // height: 24px;
    line-height: 24px;
    font-size: 14px;
    // font-weight: 500;
    // color: #fff;
    background: #b128ff;
    padding: 0 10px;
    // border-radius: 4px;
}

.text-color-1 {
    color: #b128ff;
}

.bg-color-1 {
    background: #b128ff;
}

.text-color-2 {
    color: #fa7919;
}

.bg-color-2 {
    background: #fa7919;
}

.text-color-3 {
    color: #bed10e;
}

.bg-color-3 {
    background: #bed10e;
}

.course-item .course_content {
    min-height: 170px;
}

.course-owner img {
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 14px 0 rgb(1 11 60 / 10%);
}

.course_more {
    padding: 15px 20px 10px;
    border-top: 1px solid #f0f0f5;
}

.text-black-500 {
    color: #53545b;
}

.yellow-star {
    color: #ff9415;
}

.course-item .course-image {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.edit-icon {
    background: #0000007d;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* box-shadow: inset 0 0 10px #818181; */
}

.edit-icon:hover {
    box-shadow: none;
    transition: 0.5s ease-in-out;
    & i {
        color: #3b82f6;
    }
}

.edit-icon i {
    font-size: 14px;
}

.newsletter-sec form input {
    padding: 12px 18px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
}

.newsletter-sec form button {
    padding: 0.8rem 2rem;
}

.footer-sec {
    background-color: #333333;
}

.footer_link {
    transition: all 0.4s ease-in-out;
    &:hover {
        color: $blue;
    }
}

.footer-sec .newsletter-form .btn {
    padding: 0 15px;
}

.footer-social .social-link {
    color: #fff;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    width: 34px;
    height: 34px;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
}

.footer-social .social-link:first-child {
    margin-left: 0;
}

.footer-social .social-link {
    transition: all 0.5s ease-in-out;
    &:hover {
        background: #fff;
        color: $blue;
    }
}

.copyright {
    background-color: #222;
}

.inner_page_breadcrumb {
    // background-image: url('https://image.freepik.com/free-photo/brainstorm-meeting_1098-15871.jpg');
    background-image: url("https://image.freepik.com/free-photo/studio-shot-young-fit-women-doing-yoga-exercises_155003-14213.jpg");
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.inner_page_breadcrumb::before {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

// Account page setting
.tablist {
    background: #fff;
    padding: 20px 15px;
    border-radius: 6px;
    height: 65vh;
}

.tablist button {
    border-bottom: 1px solid #eee;
    border-radius: 4px;
    &:focus-visible {
        outline: none;
    }
    & i {
        width: 30px;
    }
}

.tabpanel {
    min-height: 65vh;
    border-radius: 6px;
}

.account-title {
    border-bottom: 1px solid #cbd5e1;
}

.card-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px -2px 4px -1px;
}

.ck.ck-content.ck-editor__editable {
    min-height: 25vh;
}

.change-password {
    // border: 1px solid #cbd5e1;
    // padding: 20px;
    // box-shadow: 10px 10px 12px -12px rgb(0 0 0 / 41%);
    // border-radius: 4px;
}

.my-transaction tr th {
    font-size: 16px;
    font-weight: 600;
    background: #f7f6f6;
    border-top: 1px solid #e5e7eb;
}

.my-transaction tr td {
    font-weight: 500;
}

.form-check {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
}

.p-0 {
    // padding: 0;
}

.new-card {
    // border-bottom-left-radius: 8px;
    // border-bottom-right-radius: 8px;
}

// Course landing page css start
.course-details-left {
    padding-right: 4rem;
}

.course_info .teacher_info img {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 14px 0 rgb(1 11 60 / 10%);
}

.short_info .short_title {
    font-weight: 500;
    color: #686868;
}

.course-tab .nav-item {
    border-right: 1px solid #d2d3dc;
    &:last-child {
        border-right: 0;
    }
    &:first-child .nav-link {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &:last-child .nav-link {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.course-tab .nav-link {
    font-size: 14px;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    color: #000;
}

.course-tab .nav-link:hover {
    color: #2b4eff;
}

.course-tab .nav-link.active {
    color: #fff !important;
    background-color: $blue;
}

.course-sidebox {
    box-shadow: 0 30px 50px 0 rgb(1 11 60 / 10%);
    // box-shadow: 0px 30px 50px 0px rgb(1 11 60 / 10%);
    // border-radius: 6px;
}

.check-list li {
    position: relative;
    padding: 5px 0 5px 15px;
    &:before {
        content: "\f00c";
        font-family: FontAwesome;
        position: absolute;
        left: -10px;
        top: 7px;
        color: #3a3a3a;
        font-size: 16px;
    }
}

.price-courses li {
    padding: 10px 0;
    box-shadow: 0px 1px 0px #e8ecf0;
    font-weight: 600;
    & i {
        width: 24px;
        color: $blue;
    }
}

.price-courses li span {
    color: #5b5f64;
    color: #5b5f64;
    font-weight: 400;
}

.course-box .price {
    border-bottom: 1px solid #e8ecf0;
}
.course-sidebox .price {
    border-bottom: 1px solid #E8ECF0;
}

.course-sidebox .price li:first-child {
    font-size: 30px;
    font-weight: 700;
    color: #3270fc;
    line-height: 1;
}

.course-box .price li:nth-child(3) {
    color: #d2093c;
}
.course-sidebox .price li:nth-child(3) {
    color: #D2093C;
    background: rgba(210, 9, 60, 0.06);
}

.share i {
    color: #3270fc;
    border: 2px solid rgba(15, 18, 22, 0.1);
    padding: 14px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    &:hover {
        background-color: #3270fc;
        color: #fff;
        cursor: pointer;
    }
}

.sidebar-course .course_img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.course-sidebox .rating {
    font-size: 12px;
}

.course-sidebox .course_price {
    color: $blue;
}

.review-item {
    padding: 20px 30px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 48, 110, 0.1);
    border-radius: 6px;
}

.review-image {
    min-width: 4.5rem;
}

.back-ratings {
    color: #ff9415;
}

.ratings i {
    color: #ff9415;
    &:last-child {
        color: #ccc;
    }
}

.list-item li {
    padding: 5px 0;
    & a:hover {
        color: #0b2bc9;
        transition: all 0.4s ease-in-out;
    }
}

.overview-item ul li {
    padding: 3px 0;
    font-size: 14px;
    & i {
        width: 24px;
        text-align: center;
    }
}
.hoverZoomInOut {
    transition: all 0.3s ease-out 0s;
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}
.ScrollUpButton__Container {
    background-color: #0b2bc9 !important;
}
.backToTopButton {
    background-color: #0b2bc9;
    right: 40px;
    border-radius: 100% !important;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
    border: none;
    outline: none;
    &:hover {
        border-style:  solid;
        border-color: #0b2bc9;
        background-color: white;
    }
    &:hover  .backToTopButton svg {
       fill: white !important;
    }
}
.backToTopButton svg {
    fill: white;
    margin-bottom: 2px;
}
.delete-button {
    color: red;
    cursor: pointer;
}
.width-100 .modified
{
    width: 100% !important;
}
.remove_div_input
{
    padding-left: 8px;
}
